#header {
    background-color:black;
    color:white;
    padding: 1px;
    text-align:center;
    min-height:10px;
    margin-top: -5px;

}
a, a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #333333;
	text-decoration: underline;
}

.box {
	background-color: yellow;
	text-align:center;
}


.menu_item {
	margin-right: 25px;
	text-align:center;
}
.html-marquee {
	height:20px;
	width:100%;
	font-weight:bold;}
